################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/hiredis_wrapper.VC.VC.opendb
/Debug/hiredis_wrapper.tlog
/Debug
